# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode/
examples/**/target

.config/

tmp/
packages/
vendor/
examples/**/target
testsuite_tmp/

mods/service/httpd/web/ui/*
mods/server/web/ui/*
mach-grpc.sock

native/**/*_dummy.o

# mage temp file
mage_output_file.go
